*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    background-color: gray;
    display: flex;
    height: 70px;
    /* justify-content: space-between; */
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.navbar img{
    width: 100px;
    height: 100px;
}
.navbar ul{ 
    list-style: none;
    display: flex;
    gap: 50px;
}

.hero{
    background-color: goldenrod;
    height: 80vh;
}
.hero h1{
    text-align: center;
}
.menu{
    display: flex;
    gap: 50px;
}

.pizza-card{
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.pizza-card img{
    height: 100px;
    border-radius: 10px;
}